<div class="create-edit-default-container">
    <form [formGroup]="userForm" (keydown.enter)="$event.preventDefault()">

        <div class="create-edit-default-container-header">
            <h3 class="title">Usuário</h3>
            <div>
                <button *ngIf="!isEditMode" pButton pRipple label="Criar" size="small" (click)="createUser()"></button>
                <button *ngIf="isEditMode" pButton pRipple label="Salvar" size="small" (click)="updateUser()"></button>
            </div>
        </div>  
                <div class="card">
                    <p-tabView>
                        <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title">
                            <ng-container *ngIf="tab.content">
                                <ng-container *ngComponentOutlet="tab.content"></ng-container>
                            </ng-container>
                        </p-tabPanel>
                    </p-tabView>
                </div>
    </form>
</div>