<div class="custom-tooltip">
  <p><span class="icon">🟡</span> <strong>Status:</strong> teste</p>
  <p><span class="icon">📋</span> <strong>Tipo de tarefa:</strong> Serviços de Montagem Haix</p>
  <p><span class="icon">👤</span> <strong>Cliente:</strong> 046668-REBOUCAS 1700 EMPREENDIMENTOS SPE LTDA</p>
  <p><span class="icon">📍</span> <strong>Endereço:</strong> Rua Lisboa,45-PINHEIROS-SÃO PAULO,SP</p>
  <p><span class="icon">👨‍💼</span> <strong>Colaborador:</strong> Rodrigo Ferreira de Lima</p>
</div>
