<div class="create-edit-default-container">
  <form [formGroup]="taskTypeForm">
    <div class="create-edit-default-container-header">
      <h3 class="title">{{title}}</h3>
      <div>
        <button *ngIf="!isEditMode" pButton pRipple label="Criar" size="small" (click)="createTaskType()"></button>
        <button *ngIf="isEditMode" pButton pRipple label="Salvar" size="small" (click)="updateTaskType()"></button>
      </div>
    </div>
    <div class="default-flex-item-group">
      <div class="input-group">
        <label class="input-text" for="name">Nome <span class="text-danger">*</span></label>
        <input class="input-custom" id="name" formControlName="name" pInputText type="text" required="true" />
      </div>
      <div class="input-group">
        <label class="input-text" for="description">Descrição</label>
        <input class="input-custom" id="description" formControlName="description" pInputText type="text" />
      </div>
      <div class="input-group">
        <label class="input-text" for="creatorName">Criador</label>
        <input class="input-custom not-allowed" id="creatorName" formControlName="creatorName" pInputText
          type="datetime" />
      </div>
      <div class="input-group">
        <label class="input-text" for="active">Ativo</label>
        <p-dropdown id="active" [style]="{'width':'100%','height':'30px','align-items': 'center'}"
          [options]="activeOptions" formControlName="active">
        </p-dropdown>
      </div>
      <div class="input-group">
        <label class="input-text" for="creationDate">Data de criação</label>
        <input class="input-custom not-allowed" id="creationDate" formControlName="creationDate" pInputText
          type="datetime" />
      </div>
      <div class="input-group">
        <label class="input-text" for="updateDate">Data de atualização</label>
        <input class="input-custom not-allowed" id="updateDate" formControlName="updateDate" pInputText
          type="datetime" />
      </div>
    </div>
  </form>
</div>