<div class="default-list-container">
  <div class="default-list-container-header">
    <h3 class="title">Gerenciar usuários</h3>
    <div class="user-list-container-header-button">
      <button pButton pRipple label="Adicionar" size="small" (click)="createUser()"></button>
    </div>
  </div>
  <div class="card">
    <p-table #dt2 [value]="users" [paginator]="true" [rows]="5" [totalRecords]="totalUsers" [lazy]="true" 
    (onLazyLoad)="getUsers($event)"
      [tableStyle]="{ 'min-width': '20rem', 'max-width': '100%' }" sortMode="multiple" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width:25%">Nome<p-sortIcon field="name" /></th>
          <th pSortableColumn="email" style="width:25%" class="content-align-center">Email<p-sortIcon field="email" /></th>
          <th pSortableColumn="jobPosition" style="width:25%" class="content-align-center">Cargo<p-sortIcon field="jobPosition" /></th>
          <th pSortableColumn="smartPhoneNumber" style="width:10%" class="content-align-center">Celular<p-sortIcon field="smartPhoneNumber" /></th>
          <th pSortableColumn="active" style="width:10%" class="content-align-center">Ativo<p-sortIcon field="active" /></th>
          <th style="width:5%"class="content-align-center">Editar</th>
          <th style="width:5%"class="content-align-center">Ativar/Desativar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td class="content-align-center">{{ user.email }}</td>
          <td class="content-align-center">{{ user.jobPosition }}</td>
          <td class="content-align-center">{{ user.smartPhoneNumber }}</td>
          <td class="content-align-center">
            <div [ngClass]="user.active ? 'active' : 'inactive'">{{getUserStatus(user)}}</div>
          </td>
          <td class="content-align-center">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text"
              (click)="viewUser(user.id)"></button>
          </td>
          <td class="content-align-center">
            <div class="card flex justify-content-center">
            <button *ngIf="user.active" pButton pRipple icon="pi pi-times" title="Desativar"
              class="p-button-rounded p-button-text" (click)="changeUserStatus(user.id, false)" style="color: #ff5858;"></button>
            <button *ngIf="!user.active" pButton pRipple icon="pi pi-check" title="Ativar"
              class="p-button-rounded p-button-text" (click)="changeUserStatus(user.id, true)" ></button>
          </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="7">Total de usuários: {{ totalUsers }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>