
.default-list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 3.3rem;
    /* Adiciona um preenchimento ao redor */
}

.default-list-container-header {
    display: flex;
    justify-content: space-between;
    /* Mantém o título e o botão separados */
    align-items: center;
    margin-bottom: 1rem;
    /* Espaçamento abaixo do cabeçalho */

}



.card {
    overflow-x: auto;
    /* Permite rolagem horizontal se necessário */
}

.p-table {
    width: 100%;
    /* Garante que a tabela ocupe toda a largura do contêiner */
}

.active-user{
    color: var(--primary-color) // cores do prime ng
}

.inactive-user{
    color: var(--bluegray-200) // cores do prime ng
}