.card {
    overflow-x: auto;
    /* Permite rolagem horizontal se necessário */
}
.active-task-type{
    color: var(--primary-color) // cores do prime ng
}

.inactive-task-type{
    color: var(--bluegray-200) // cores do prime ng
}