<form [formGroup]="userForm">
  <div class="default-flex-item-group">
    <div class="input-group">
      <label class="input-text" for="name">Nome<span class="text-danger">*</span></label>
      <input class="input-custom" id="name" formControlName="name" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="email">Email<span class="text-danger">*</span></label>
      <input class="input-custom" id="email" formControlName="email" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="jobPosition">Cargo</label>
      <input class="input-custom" id="jobPosition" formControlName="jobPosition" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="smartPhoneNumber">Celular</label>
      <input class="input-custom" id="smartPhoneNumber" formControlName="smartPhoneNumber" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="password">Senha</label>
      <input class="input-custom" id="password" formControlName="password" pPassword type="password" [feedback]="false"
        placeholder="******" />
    </div>
    <div class="input-group">
      <label class="input-text" for="passwordConfirm">Confirmar senha</label>
      <input class="input-custom" id="passwordConfirm" formControlName="passwordConfirm" pPassword type="password"
        [feedback]="false" placeholder="******" />
      <div *ngIf="userForm.errors?.['passwordMismatch']">
        As senhas nao coincidem
      </div>
    </div>
    <div class="input-group">
      <label class="input-text" for="role">Tipo de usuário</label>
      <p-dropdown id="role" [style]="{'width':'100%','height':'30px','align-items': 'center'}" [options]="userTypes"
        formControlName="role">
      </p-dropdown>
    </div>
  </div>
</form>