<div class="flex-container-user-tab">
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber"  pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
  <div class="input-group">
    <label class="input-text" for="smartPhoneNumber">Celular</label>
    <input class="input-custom" id="smartPhoneNumber" pInputText type="text" />
  </div>
</div>




