/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.input-custom{
    height: 10px;
    width: 100%;
}
.title {
    font-size: 1.5rem; 
    color: #555;
    font-weight: bold;
}

.input-text {
    font-size: 1rem;
    color: #555; 
    padding-bottom: 10px;
    padding-top: 15px;
}
  .input-group {
    flex: 1 1 calc(33% - 10px); /* 3 itens por linha */
    box-sizing: border-box; /* Para incluir padding e border no cálculo */
    max-width: 33%;
  }
  
  /* Ajustar o tamanho em telas menores */
  @media (max-width: 768px) { /* Tamanho da tela que você deseja ajustar */
    .input-group {
      flex: 1 1 calc(50% - 10px); /* 2 itens por linha */
      max-width: calc(50% - 10px); /*Aumenta tamanho máximo*/
    }
  }
  
  @media (max-width: 650px) { /* Tamanho menor para ajustar para 1 item por linha */
    .input-group {
      flex: 1 1 100%; /* 1 item por linha */
      max-width: calc(100% - 10px);
    }
  }

  .flex-container-user-tab{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os itens */
    
  }
  

  