.flex-container-password{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
}

.password-input-group{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50% - 10px); /* Limita a largura a 50% menos metade do gap */
}