<form [formGroup]="userForm">
  <div class="flex-container-user-tab">
    <div class="input-group">
      <label class="input-text" for="name">Nome</label>
      <input class="input-custom" id="name" formControlName="name" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="email">Email</label>
      <input class="input-custom" id="email" formControlName="email" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="jobPosition">Cargo</label>
      <input class="input-custom" id="jobPosition" formControlName="jobPosition" pInputText type="text" />
    </div>
    <div class="input-group">
      <label class="input-text" for="smartPhoneNumber">Celular</label>
      <input class="input-custom" id="smartPhoneNumber" formControlName="smartPhoneNumber" pInputText type="text" />
    </div>

    <div class="input-group">
      <label class="input-text" for="password">Senha</label>
      <input class="input-custom" id="password" formControlName="password" pPassword type="password"
        [feedback]="false" />
    </div>
    <div class="input-group">
      <label class="input-text" for="passwordConfirm">Confirmar senha</label>
      <input class="input-custom" id="passwordConfirm" formControlName="passwordConfirm" pPassword type="text"
        [feedback]="false" />
    </div>
    <div class="input-group">
      <label class="input-text" for="user-type-dropdown">Tipo de usuário</label>
      <p-dropdown id="user-type-dropdown" [style]="{'width':'100%','height':'50%','align-items': 'center'}"
        [options]="userTypes">
      </p-dropdown>
    </div>
  </div>
</form>