<form [formGroup]="userForm">
  <div class="flex-container-password">


    <div class="password-input-group">
      <label class="input-text" for="password">Senha</label>
      <input class="input-custom" id="password" formControlName="password" pInputText type="text" />
    </div>
    <div class="password-input-group">
      <label class="input-text" for="password">Senha</label>
      <input class="input-custom" id="password" formControlName="password" pInputText type="text" />
    </div>
    <div class="password-input-group">
      <label class="input-text" for="password">Senha</label>
      <input class="input-custom" id="password" formControlName="password" pInputText type="text" />
    </div>
  </div>
</form>